.main {
    margin-left: 75px;
    margin-right: 75px;
}

.h1{
    color:#000;
    text-align: center;
    font-size:19px;
    font-family: 'JetBrains Mono', monospace;
    margin-top: 15px;
    display: block;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
}


/* Progress Bar */
.progressBarContainer {
    display: flex;
    justify-content: center;
}
.progressBar {
    margin-left: -13px;
}
.progressBarNumber {
    position: relative;
    display: inline;
    font-size: 10px;
    top: -0.5px;
    left: 20px;
}
.progressBarLine {
    height: 2px;
    position: relative;
    display: inline-block;
    border: none;
    width: 50px;
    left: -5px;
    top: -2.5px;
}
.progressBarDescription {
    font-size: 10px;
    text-align: left;
    position: relative;
}
.button {
    position: absolute;
    bottom: 20%;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: center;
    height: 450px;
    margin-top: 20px;
}
.imageContainer {
    border: 1px dotted #A39D9D;
    text-align: center;
    justify-content: center;
    height: 70%;
    width: 25%;
}
.image {
    margin: 10px;
}
.uploadedImage {
    max-height: 100px;
}
.buttonOverlay {
    position: absolute;
    margin-left:-50%;
    margin-top: -50%;
}



.tagSection {
    height: 100%;
    width: 20%;
    /* text-align: center;
    justify-content: center; */

}
.tagsContainer {
    margin: 0px 50px 10px;
    border: 1px solid #A39D9D;
    height: 15%;
    width: 100%;
    text-align: center;
    justify-content: center;
}
.descriptionIcon {
    position: relative;
    display: inline-block;
    margin: -20% 0px 0px -20%;
}
.descriptionWords {
    position: relative;
    display: inline-block;
    margin: -5px 20px;
    font-size: 15px;
}