@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=JetBrains+Mono&display=swap');

/* Style for the search input */
.input {
  border: 1px gray solid;
  width: 535px;
  border-radius: 15px;
}

/* Style for the search icon */
.searchIcon {
  position: absolute;
  top: 55px;
  border: none;
  right: 100px;
  font-size: 40px;
  font-family: 'Inter';
  text-decoration: none;
  color: #000;
}

.searchIcon:hover {
  border: none;
}

.text {
  color: white;
}

.icon {
  margin: 5px;
}

