@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=JetBrains+Mono&display=swap');

.main {
    margin-left: 75px;
    margin-right: 75px;
    margin-top: 25px;
}

.h1{
    color:#000;
    text-align: center;
    font-size:19px;
    font-family: 'JetBrains Mono', monospace;
}

.searchContainer {
  width: 100%;
}

/* Style for the search form container */ 
.searchBar {
  position: relative;
  display: flex;
  margin: 0;
  padding: 0;
}

/* Style for the search input */
.input {
  padding: 8px 16px 8px 40px; /* Adjust the padding as needed */
  border: 1px solid;
  border-radius: 20px; /* Adjust the border-radius as needed */
  outline: none;
  display: inline-block;
  width: 100%;
}

/* Style for the search icon */
.searchIcon {
  position: absolute;
  top: 50%;
  left: 10px; /* Adjust the left position as needed */
  transform: translateY(-50%);
}

